<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shloks</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap" rel="stylesheet">
</head>
<body>
      <!-- <div class="container">
        <button class="box" id="box1" onclick="toggleHide()"><div>box1</div></button>
        <div class="box" id="box2">box2</div>
        <div class="box" id="box3">box3</div>
        <div class="box" id="box4">box4</div>
    </div> -->
    
    <nav class="navBarClass">
        <h1 class="tiles" id="tile-0">Shloks</h1>
        <div class="tileContainer2">
            <a href="/about"> <div class="tiles" id="tile-1">About Us</div></a>
            <div class="tiles" id="tile-4">Say Hi</div>
            <!-- <div class="tiles"> <img src="img/k.jpg" alt="Avatar" class="avatarpic"></div> -->
        </div>
    </nav>

    <div class="cardCollection" id="sholksCard"></div>


    <!-- <div class="tileContainer3"> -->
        <!-- <div class="tileContainer4">
            <div id="heading1">
                skateboarding done right
            </div>
            <div id="heading2">
                Wooden longboard in best quality for skateboard lovers
            </div>
            <div id="heading3">
                Order Now
            </div>
        </div> -->

        <!-- <img src="img/cat.jpg" alt="Cat" id="imageclass" onclick="rotateImageFunction()"> -->
        <!-- <img src="img/cat.jpg" alt="Cat" id="imageclass"> -->

        <!-- <div class="tileContainer6">
            <div>
                Dexpressas
            </div>
            <div>
                Dexpress
            </div>
            <div>
                Dexpress
            </div>
        </div> -->
    <!-- </div> -->

    <!-- <button onclick="await getapi()"><div>Chnage Image</div></button> -->
  
    <script src="js/script.js"></script>
</body>
</html>